body{
    background-color: lightsalmon;
    
}

#Active{
    margin-right: 50px;
    margin-top: 10px;
    justify-content: center;
}
#Recovered{
    margin-right: 75px;
    margin-top: 10px;
    justify-content: center;
}
#Deaths{
    margin-right: 60px;
    margin-top: 10px;
    justify-content: center;
}